<html>

<head>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
</head>

<body>
  <strong>Hello, {{ ad.author.name }}</strong>
  <P>You have a new offer of sell for your product {{ ad.title }}</P>
  <br>
  <strong>{{ user.name }} ({{ user.email }}):</strong>
  <p>{{ content }}</p>
</body>

</html>
